body {
  background-color: #D3D3D3;
  margin: auto;
  width: auto;
}

main, aside, header, article {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

main {
  font-family: Georgia, serif;
}

header, aside {
  font-family: Verdana, sans-serif;
}

header {
  height: 150px;
  padding: 0px 30px 0px 30px;
}

a {
  color: #404040;
  text-decoration: underline;
}

a:hover {
  background-color: #bfbfbf;
  color: #404040;
}

p, ul, ol {
  color: black;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0px 20px 0px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

h2 {
  font-size: 24px;
  text-align: left;
}

h3 {
  font-size: 18px;
}

blockquote {
  border-left-style: solid;
  border-color: grey;
  padding-left: 5px;
}

pre {
  background-color: black;
  color: grey;
  font-size: 16px;
  padding-left: 5px;
}

nav, footer {
  font-family: Courier, monospace;
  background-color: black;
}

nav {
  height: 48px;
}

nav ul {
  text-align: center;
  padding: 8px 0px 0px 0px;
  margin: 0px auto 0px auto;
}

nav ul li {
  display: inline;
  font-size: 14px;
  padding: 0% 2.5% 0% 2.5%;
}

nav a {
  text-decoration: none;
  color: white;
}

footer {
  height: 48px;
}

footer p {
  text-align: center;
  padding: 12px 0px 0px 0px;
  color: white;
  font-size: 14px;
  line-height: 24px;
}

.centered-title {
  text-align: center;
  margin-bottom: -10px;
}

.post-title {
  text-align: left;
}

.description-of-post {
  font-size: 18px;
  font-weight: normal;
}

.post-content {
  padding: 0px 30px 0px 30px;
  border: solid;
  border-color: #7d7d7d;
  border-width: 1px;
  background-color: #F5F5F5;
}

.post-content h1 {
  margin: 0px 0px 0px 0px;
}

.post-content img {
  max-width: 100%;
}
.blog-listing {
  width: 700px;
  border: solid;
  border-color: #7d7d7d;
  border-width: 1px;
  margin: 50px auto 50px auto;
  padding: 25px 25px 25px 25px;
  background-color: #F5F5F5;
}

.blog-listing a {
  text-decoration: none;
}

.blog-listing-title {
  font-size: 1.5em;
  text-align: left;
  margin: -5px 0px 0px 0px;
}

.blog-listing-title a {
  color: black;
}

.blog-listing-description {
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: left;
  margin: 10px 0px -5px 0px;
  font-weight: normal;
}

.blog-listing-date {
  font-size: .9em;
  line-height: 1em;
  font-weight: lighter;
  margin: 10px 0px 10px 0px;
}

.next-previous-links a {
  text-decoration: none;
  font-size: 20px;
}

.next-previous-links ul {
  padding-left: 0px;
  text-align: center;
}

.next-previous-links ul li {
  text-align: center;
  display: inline;
  font-size: 20px;
  padding: 0px 30px 0px 30px;
  margin: 30px 0px 30px 0px;
}

#tagline {
  font-size: 18px;
}

.clicky {
  display: none;
}

.nav-mobile {
  display: none;
}

#contact-info {
  float: left;
}

#directional-list {
  float: right;
}

@media screen and (max-width: 790px) {

  body {
    width: 100%;
  }

  header, main, article, aside, .blog-listing {
    width: 95%;
  }

  header {
    height: auto;
    padding: 0px 0px 0px 0px;
    margin: 0px auto 30px auto;
  }

  nav {
    height: 75px;
    text-align: center;
    width: 100%
  }

  nav ul li {
    float: none;
    font-size: 18px;
    padding: 0% 2.5% 0% 2.5%;
  }

  .desktop-only {
    display: none;
  }

  pre {
    display: none;
  }

  ul, ol {
    padding-left: 20px;
  }

  blockquote {
    margin-left: 0px;
  }

  .post-content {
    padding: 10px 10px 10px 10px;
  }

  .blog-listing {
    padding: 10px 10px 10px 10px;
  }

  .next-previous-links ul li {
    display: list-item;
    text-align: center;
    list-style-type: none;
    margin: 15px 0px 15px 0px;
  }

  footer p {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
