body {
    background-color: #fafafa;
    margin: auto;
    width: 70%;
}

  
a {
    text-decoration: none;
    color: #7d7d7d;
}

a:hover {
    text-decoration: underline;
}

p, ul, ol {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

h1, h2, h3, h4 {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    margin: 0px
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

nav ul, footer ul {
    font-size: 1em; font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    font-size: .8em;
}

@media screen and (max-width:700px) {
  .container {
    body {
        width: 30%; 
    }
    
  }}