body {
  background-color: #D3D3D3;
  margin: auto;
  width: 700px;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #404040;
  text-decoration: underline;
}

a:hover {
  background-color: #bfbfbf;
}

p, ul, ol {
  color: black;
  font-size: 18px;
  line-height: 27px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

h2 {
  font-size: 24px;
  text-align: left;
}

h3 {
  font-size: 18px;
}

blockquote {
  border-left-style: solid;
  border-color: grey;
  padding-left: 5px;
}

nav {
  height: 50px;
  border-bottom: solid;
  border-color: black;
  border-bottom-width: 1px;
}

nav ul {
  margin-top: 9px;
  padding-left: 0px;
}

nav ul li:first-child {
  float: left;
  font-size: 18px;
  font-weight: bold;
}

nav ul li {
  display: inline;
  float: right;
  font-size: 18px;
  padding: 0% 2.5% 0% 2.5%;
}

nav a, footer a {
  color: #404040;
  text-decoration: none;
}

footer {
  border-top: solid;
  border-color: black;
  border-top-width: 1px;
}

footer ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 14px;
  line-height: 20px;
}

.post-content {
  margin: 30px 0px 15px 0px;
  padding: 30px 30px;
  border: solid;
  border-color: #7d7d7d;
  border-width: 1px;
  background-color: #F5F5F5;
}

.post-content h1 {
  margin: 0px 0px 0px 0px;
}

.blog-listing {
  border: solid;
  border-color: #7d7d7d;
  border-width: 1px;
  margin: 50px 0px 50px 0px;
  padding: 30px 30px;
  background-color: #F5F5F5;
}

.blog-listing a {
  text-decoration: none;
}

.blog-listing h1 a {
  color: black;
}

.blog-listing h1 {
  font-size: 1.5em;
  text-align: left;
  margin: -5px 0px 0px 0px;
}

.blog-listing p {
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: left;
  margin: 10px 0px -5px 0px;
}

.blog-listing li {
  list-style-type: none;
}

#blog-listing-nav {
  font-size: .9em;
  line-height: 1em;
  font-weight: lighter;
  margin: 10px 0px 10px 0px;
}

.next-previous-links a {
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}

.next-previous-links ul {
  padding-left: 0px;
  text-align: center;
}

.next-previous-links li {
  display: inline;
  font-size: 20px;
}

#index-tag-line {
  text-align: left;
}

#recent-blog-title {
  text-align: center;
}

#clicky {
  display: none;
}

.related-post h2 {
  text-align: center;
  margin: 0px 0px -20px 0px;
}

.search-form {
  width: 275px;
  margin: 5% auto 5% auto;
}

#search-box {
  height: 28px;
  border-color: #7d7d7d;
  border-width: 1px;
}

#search-button {
  clear:both; background-color: #aaa; border: 0 none; border-radius:4px; transition: all 0.23s ease-in-out 0s; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: normal; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;
}

#search-button:hover {
  background-color: black;
  color: white;
}

#search-results {
  padding-left: 0px;
}

#nav-mobile {
  display: none;
}

#contact-info {
  float: left;
}

#directional-list {
  float: right;
}

@media screen and (max-width: 790px) {
  body {
    width: 95%;
  }

  #nav-desktop {
    display: none;
  }

  nav ul li:first-child {
    float: none;
    font-size: 1.1em;
    font-weight: normal;
  }

  nav ul li {
    display: inline;
    float: none;
    text-decoration-color: #7d7d7d;
    font-size: 1.1em;
  }

  #nav-mobile {
    display: inline;
  }

  #nav-mobile-title {
    text-align: center;
    font-weight: bold;
    margin: 13px 0px 14px 0px;
  }

  #nav-mobile-menu {
    height: 50px;
    padding-left: 0px;
    text-align: center;
    border-bottom: solid;
    border-color: black;
    border-bottom-width: 1px;
  }

ul, ol {
  padding-left: 20px;
}

  .next-previous-links li {
    display: list-item;
    list-style-type: none;
  }

  footer ul {
    line-height: 30px;
  }
}
