---
layout: page
og-site: website
title: Tag Page
description: All tags from the flow of language
permalink: /tags
---
<!-- {% assign i = "-1" %}
{% for post in site.posts %}
{% for tag in post.tags %}
{% assign i = i | plus: 1 %}
{% endfor %}
{% endfor %}


{% assign tag_list = "" %}
{% for post in site.posts limit: i %}
{% for tag in post.tags %}
{% assign tag_list = tag_list | append: tag | append: ", " %}
{% endfor %}
{% endfor %}

{% assign tag_list = tag_list | split: ", " | | uniq %}
{% for item in tag_list %}
<p>{{item}}</p>
{% endfor %} -->

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<div id="tags">
  <h1>Tags</h1>
  <ul class="tag-box inline">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <li><a href="#{{ this_word | cgi_escape }}">{{ this_word }} <span>{{ site.tags[this_word].size }}</span></a></li>
  {% endunless %}{% endfor %}
  </ul>

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  <h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
  <ul class="posts">
    {% for post in site.tags[this_word] %}{% if post.title != null %}
    <li itemscope><span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time></span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}{% endfor %}
  </ul>
  {% endunless %}{% endfor %}
</div>
