---
layout: default
permalink: /tags/
---
<div align="center">
Browse chronologically <a href="/blog/">[blog]</a> / <a href="/lessons/">[lessons]</a> or by <a href="/tags/">tag</a> 
</div>

{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

{% for tag in sortedtags %}
  <p><b id="{{ tag }}">{{ tag }}</b><br>
  {% for post in site.tags[tag] %}
  <a href="{{ post.url }}" target="_blank">{{ post.title }}</a> [{{post.category}}]: {{post.description}}<br>
  {% endfor %}
 
{% endfor %}</p>