---
layout: default
title: Listening Lessons
permalink: "/lessons/listening/"
---
<nav>
<ul id='lesson-type-bar'>
<li><a href="/lessons/">[all]</a></li>    
<li><a href="/lessons/grammar/">[grammar]</a></li>
<li><a href="/lessons/reading/">[reading]</a></li>
<li>[listening]</li>
<li><a href="/lessons/speaking/">[speaking]</a></li>
<li><a href="/lessons/writing/">[writing]</a></li>
</ul>
    </nav>
<h1 class='lesson-title'>Listening Lessons</h1>

{% for post in site.posts %} 
    {% if post.listening %}
    
        {% include lesson-listing.html %}
    
    {% endif %}
{% endfor %}
