<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="author" content="Derek Kedziora"/>
    <meta itemprop="datePublished" content="'{{ page.date | date: "%Y-%m-%d" }}'"/>
    <link rel="canonical" href="http://{{ page.url | prepend: site.url }}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {% include og-matter.html %}
    {% include twitter-card.html %}
  </head>
