<section class="next-previous-links">
  <ul>
    <span class="no-wrap">
    {% unless page.previous.url == page.url %}
      <li><a href="{{page.previous.url}}" id="next-prev-left">previous</a></li>
    {% endunless %}
    </span>

    <span class="no-wrap">
    <li><a href="/blog">index</a></li>
    </span>

    <span class="no-wrap">
    <li><a href="" id="randoLink">random</a>{% include random-post.html %}</li>
    </span>

    <span class="no-wrap">
    {% unless page.next.url == post.url %}
      <li><a href="{{page.next.url}}">next</a></li>
    {% endunless %}
    </span>

  </ul>
</section>
