<meta property="og:locale" content="en_US">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta property="og:type" content="{% if page.og-type %}{{page.og-type}}{% else %}article{% endif %}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:image" content="/files/site-logo.jpg"/>
<meta property="og:site_name" content="An Eccentric Linguist">
<meta property="article:published_time" content="{{ page.date }}"/>
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
