{% assign i = 0 %}
{% assign array_urls = "" %}

{% for post in site.posts %}
{% assign i = i | plus: 1 %}
{% assign temp_url = {post.url} %}
{% assign temp_url = temp_url | append: "," %}
{% assign array_urls = array_urls | append: temp_url %}
{% endfor %}
{% assign array_urls = array_urls | split: "," %}
{% assign array_urls = array_urls | append: ""]" %} <p style="display:none;">"</p> 
{% assign array_urls = array_urls | join: '", "' %}



<a id="myAnchor" href"">test</a>

<script>
  var myArray = {{ array_urls }};
  var randnum = Math.floor(Math.random() * {{i}}) + 0;
  var linkToPost = myArray[randnum]
  document.getElementById("myAnchor").href = linkToPost
</script>
