<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css" media="screen, projection" />
  </head>

  <body>
    <nav>
<ul>
<li><a href="/">[home]</a></li>
<li><a href="/about">[about]</a></li>
<li><a href="/blog">[blog]</a></li>
<li><a href="/lessons">[lessons]</a></li>
<li><a href="/search">[search]</a></li>
</ul>
    </nav>
<div class="container">
  <hr>

  {{content }}

</div>
  
  <footer>
    <hr>
   <ul>
    <li>Derek Kedziora</li><br>
    <li>email: me@derek.com.ua</li><br>
    <li>twitter: <a href="https://twitter.com/derekkedziora" target="_blank">@derekkedziora</a></li>
   </ul>
  </footer>
  </body>

</html>