<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
   
    <nav>
<ul id='topbar'>
<li><a href="/">[home]</a></li>
<li><a href="/about">[about]</a></li>
<li><a href="/blog">[blog]</a></li>
<li><a href="/lessons">[lessons]</a></li>
<li><a href="/search">[search]</a></li>
</ul>
    </nav>
<hr>

<div class="container">
{{content }}
</div>
<hr> 
  
<footer>
   <nav>
    <ul>
     <li>Derek Kedziora</li><br>
     <li>email: me@derek.com.ua</li><br>
     <li>twitter: <a href="https://twitter.com/derekkedziora" target="_blank">@derekkedziora</a></li>
   </ul>
  </nav> 
  </footer>
  </body>

</html>