{% include head-matter.html %}

<body>

  {% include navbar.html %}

<div class="post">

<main class="post-main">
  <article>

    <header>
      <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
    </header>

      <div class="long-content">
        {{ content }}
      </div>

  </article>

    <aside class="next-previous-links">

          <span class="previous-link">
          {% unless page.previous.url == lesson.url %}
            <a href="{{page.previous.url}}">previous</a>
          {% endunless %}
          </span>

          <span class="next-link">
          {% unless page.next.url == lesson.url %}
            <a href="{{page.next.url}}">next</a>
          {% endunless %}
          </span>

    </aside>

</main>
  <div class="related-posts">
    <aside class="blog-nav">
      <p id="blog-index"><a href="/lessons#topics">topics index</a></p>
      <p id="random-post"><a href="/projects#teaching">teaching page</a></p>
    </aside>
  </div>

</div>

  {% include footer.html %}

  {% include clicky.html %}
</body>
</html>
