{% include head-matter.html %}

<body>
  {% include navbar.html %}

<main>
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
        <h2 class="blog-listing-date">
          <time datetime='{{ page.date | date: "%Y-%m-%d" }}'>
          {{ page.date | date: '%d %B %Y'}}</time>
          | tags: {{ page.tags | join: ", "}}</h2>
        <h2 class="blog-listing-description">{{page.description}}</h2>
    </header>

    <div class='post-content'>
        {{ content }}
    </div>

  </article>
</main>

<aside>
  {% include next-previous-links.html %}
  {% include related-posts.html %}
</aside>

  {% include footer.html %}

  {% include clicky.html %}
  {% include yandex-metrica.html %}
</body>
</html>
