{% include head-matter.html %}

<body>

  {% include navbar.html %}

<main>
  <article>
    <header>
      <h1>{{ page.title }}</h1>
        <p class="post-date-tags"><time datetime='{{ page.date | date: "%Y-%m-%d" }}'>
          {{ page.date | date: '%d %B %Y'}}</time>
          | tags: {{ page.tags | join: ", "}}</p>
        <p>{{ page.description }}</p>
    </header>

    <section class="long-content">
        <div class="blog-post-content">
          {{ content }}
        </div>
    </section>

  </article>

  {% include next-previous-links.html %}

  {% include related-posts.html %}

</main>

  {% include footer.html %}

  {% include clicky.html %}
</body>
</html>
