{% include head-matter.html %}

<body>
  {% include navbar.html %}

  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
        <h2 class="date-blog-listing">{{ page.date | date_to_string }} |
          tags: {{ page.tags | join: ", "}}</h2>
        <h2 class="description-blog-listing">{{page.description}}</h2>
    </header>

    <section class='post-content'>
      {{ content }}
    </section>

  </article>

  {% include next-previous-links.html %}
  {% include related-posts.html %}

  {% include footer.html %}

  {% include clicky.html %}
  {% include yandex-metrica.html %}
</body>
</html>
